blockquote {
    margin: 1.5em 0;
    padding: 0.5em 1em;

    // Cite block to display the author of a quote
    cite {
        float: right;

        color: $accent-text-color;
        font-size: smaller;
        font-style: inherit;

        &::before {
            content: '\2015 ';
        }
    }

    // Make sure there's a "clear" after the "cite" tag
    &::after {
        content: ' ';

        display: table;
        clear: both;
    }
}
