.side-block {
    margin: 1em 0;
    padding: 0.5em;

    background: $back-color-block;

    font-size: smaller;

    header {
        margin-bottom: 0.5em;

        font-family: $font-family-title;
        font-size: $font-size-default;
        font-weight: bold;
        text-align: center;
    }

    a {
        @include undecorated-link;
    }

    ul,
    ol {
        margin: 0;
        padding-left: 1.5em;
    }

    ul {
        list-style-type: '· ';
    }
}
