// Move the menu links to the top, remove go-to button
.nav-menu {
    position: absolute;
    top: 0.85em;
    right: 2em;

    background: none;

    li {
        display: inline-block;
        padding: 0 0.5em;
    }
}

.nav-menu-goto {
    display: none;
}
