$font-family-main: Ubuntu, Geneva, Verdana, Tahoma, sans-serif;
$font-family-title: 'Ubuntu Condensed', 'Open Sans Condensed', 'Dejavu Sans Condensed', 'Arial Narrow', 'Segoe UI',
    'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
$font-family-code: 'Fira Code', Monoid, 'Ubuntu Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco,
    'Bitstream Vera Sans Mono', monospace;
$font-size-default: 18px;
$font-size-titles: 2.5em 2em 1.5em 1.25em 1.1em 1em;
