{{ with .Scratch.Get "cover" -}}
  {{ if ne .img.banner false -}}
<div class="cover" role="banner">
  <div class="cover-container">
    {{ $sizes := site.Params.ImageResizes | append $.Page.Site.Params.CoverImageSize -}}
    {{ $processedImg := partial "images/prepare-set.html" (
        dict
          "src" .img.src
          "alt" .img.alt
          "sizes" $sizes
          "resources" .rsc
      ) -}}
    {{ if $processedImg.link -}}
    <a href="{{ $processedImg.original.RelPermalink | safeURL }}">
    {{ end -}}
    {{ partial "images/render-set--nojs.html" $processedImg -}}
    {{ if $processedImg.link -}}
    </a>
    {{ end -}}
  </div>
</div>
  {{ end -}}
{{ end -}}
