<article class="content-text thumbnail brick">
  <h2 class="thumbnail-title"><a href="{{ .RelPermalink }}">{{ .RenderString .Title }}</a></h2>
{{ if eq .Params.metadata.lite false -}}
{{ .Render "metadata/minimal" -}}
{{ else -}}
  {{ .Render "metadata/lite" -}}
{{ end -}}
{{ .Render "tile/summary" -}}
{{ .Render "metadata/taxonomies" -}}
</article>
