//* Styling of tables
table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

// Each row except the last should have a border bottom
th,
td {
    padding: 0.2em 0.5em;

    border-bottom: solid 1px $text-color;
}

// Remove border bottom on last line
tr:last-child {
    th,
    td {
        // Override only border-bottom-width for proper cascading
        border-bottom-width: 0;
    }
}

// Make sure there's still a border at the bottom of the table header
thead tr:last-child {
    th,
    td {
        border-bottom-width: 1px;
    }
}
