//* General titles styling
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $title-text-color;
    font-family: $font-family-title;
    font-weight: 600;

    // Make links use the same color as title text
    a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $title-text-color;
        }
    }

    // Anchor is visible only when hovering the title
    .anchor {
        display: none;

        font-weight: normal;
    }

    &:hover {
        .anchor {
            display: inline-block;
        }
    }
}

// Control title font size
@for $i from 1 through length($font-size-titles) {
    $size: nth($font-size-titles, $i);

    h#{$i} {
        font-size: $size;
    }
}
