{{ $path := replace .File.Path "\\" "/" -}}
{{ $repoLink := printf .Site.Params.git.file.path $path -}}
{{ $histLink := printf .Site.Params.git.file.history $path -}}
{{ with .GitInfo -}}
<div class="info-item">
  {{- partial "utils/icon.html" (dict "icon" "history") -}}&nbsp;<a href="{{ $histLink }}">
    {{- i18n "page.git.lastmod.summary" . -}}
  </a>
</div>
{{ end -}}
<div class="info-item">
  {{- partial "utils/icon.html" (dict "icon" "code-branch") -}}&nbsp;<a href="{{ $repoLink }}">
    {{- i18n "page.link.fork" -}}
  </a>
</div>
