@mixin decorated-link {
    &:link,
    &:visited {
        text-decoration: dotted underline;
    }

    &:hover,
    &:active {
        text-decoration-style: solid;
    }
}

@mixin undecorated-link {
    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
