{{ define "classes" }}large-page{{end}}

{{ define "main" }}
<h1 id="error-emoji" class="page-title">(＃＞＜)</h1>
<div class="hero-content">
  <p>{{ i18n "403.title" }}</p>
  <p><q>{{ i18n "403.quote" }}</q></p>
</div>
<div class="links">
  <div class="item">
    <a href="{{ .Site.BaseURL }}" class="link">{{ i18n "403.link.home" }}</a>
  </div>
</div>
{{ end }}
