<article class="content-text thumbnail brick">
  {{ $termPath := printf "/%s/%s" .Ctxt.Data.Plural (urlize .Term.Name) -}}
  {{ $termPage := .Ctxt.Site.GetPage $termPath -}}
  <h2 class="thumbnail-title"><a href="{{ $termPage.RelPermalink }}">{{ default .Term.Name $termPage.Title | markdownify }}</a></h2>
  <div class="info">
    <div class="info-item">
    {{ partial "utils/icon.html" (dict "icon" "clipboard-list") }}&nbsp;
    {{- .Term.Count | i18n "section.stats.entries" }}
    </div>
  {{ partial "translation/links.html" $termPage }}
  </div>
  {{ with $termPage.Description }}<p>{{ . | $.Ctxt.RenderString }}</p>{{ end }}
  <p>
    <a href="{{ $termPage.RelPermalink }}" class="link-go">{{ i18n "miniature.link.all" .Term.Count }}</a>
  </p>
</article>
