.section-site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: $menu-padding-h;

    background: $menu-back-color;

    color: $menu-foot-text-color;

    a {
        @include decorated-link;

        color: $menu-foot-text-color;
    }

    ul {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    li {
        line-height: 1.25;

        a {
            color: $menu-foot-text-color;

            &:link {
                text-decoration: none;
            }
        }
    }

    .column {
        flex: 100% 0 0;
        margin-bottom: 0.5em;
    }

    .lic {
        .icon {
            font-size: 1.75em;
            text-decoration: none;
        }
    }

    .lic-text {
        font-size: smaller;
    }
}
