//* Styling for the form comment
.form-comment {
    padding: 0 $comment-mobile-text-padding-h;
}

// Title to display when replying to another comment
.comment-replying-title {
    display: none;

    margin: 0;

    color: $contrast-text-color;
    text-align: center;
}

.replying {
    .comment-replying-title {
        display: block;
    }
}
