// .nojs-only { display: none; }

// .es5 is added to the page when the browser doesn't support all JS features
// The helper classes then become useful
.es5 {
    // .nojs-only { display: initial; }
    .nojs-hide {
        display: none !important;
    }
}
