<!-- Title, description and image were defined in head -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ index .Site.Data.params.locales .Lang }}">
{{ if .IsTranslated }}
  {{- range .Translations -}}
<meta property="og:locale:alternate" content="{{ index .Site.Data.params.locales .Lang }}">
  {{- end }}
{{- end }}
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- if eq .Kind "page" }}
  {{- if eq .Type "blog" }}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ .Date.UTC.Format .Site.Params.dateTimeIsoFormat }}">
    {{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .UTC.Format $.Site.Params.dateTimeIsoFormat }}">
    {{- end }}
    {{- with .Params.categories }}
      {{- $category := index . 0 }}
      {{- $termUrl := printf "/%s/%s" "categories" (urlize $category) }}
      {{- $termPage := $.Site.GetPage $termUrl }}
<meta property="article:section" content="{{ default $category $termPage.Title }}">
    {{- end }}
    {{- with .Params.tags }}
      {{- range . }}
        {{- $termUrl := printf "/%s/%s" "categories" (urlize .) }}
        {{- $termPage := $.Site.GetPage $termUrl }}
<meta property="article:tag" content="{{ default . $termPage.Title | title }}">
      {{- end }}
    {{- end }}
  {{- else }}
<meta property="og:type" content="website">
  {{- end }}
{{- end }}
