{{- $jsParams := dict "minify" true }}
{{- $es5Params := dict "minify" true "target" "es5" }}
{{- range .Params.scripts }}
  {{- $js := printf "js/%s.js" . | resources.Get | js.Build $jsParams }}
  {{- if hugo.IsProduction }}
    {{- $js = $js | fingerprint "md5" }}
  {{- end -}}
<script src="{{ $js.RelPermalink }}" async type="module"></script>
  {{- $es5 := printf "js/%s-es5.js" . | resources.Get }}
  {{- if $es5 }}
    {{- $es5 = $es5 | js.Build $es5Params }}
    {{- if hugo.IsProduction }}
      {{- $es5 = $es5 | fingerprint "md5" }}
    {{- end -}}
<script src="{{ $es5.RelPermalink }}" async nomodule></script>
  {{- end -}}
{{- end }}
{{- if .Params.scripts }}<script nomodule>document.body.classList.add('es5');</script>{{ end }}
