{{ define "main" }}
<h1 class="section-page-title">{{ .Site.Title }}</h1>
<div class="hero-content">{{ .Content }}</div>
<div class="home-links">
  {{ range .Site.Menus.main.ByWeight -}}
  <div class="home-links-item">
    <div class="home-links-line home-links-main-link">{{ partial "menu-link.html" . -}}</div>
    <div class="home-links-line home-links-sub-links">
    {{- if .HasChildren -}}
      {{ delimit (apply .Children.ByWeight "partial" "menu-link.html" ".") " | " }}
    {{- end -}}
    </div>
    {{ range first 1 (where $.Site.Pages "Section" .Params.Section) -}}
      {{ .Render "tile/thumbnail-post" -}}
    {{ end -}}
  </div>
  {{ end -}}
</div>
{{ if .Site.IsMultiLingual -}}
<div class="home-links">
  {{ $lang := .Site.Home.Lang -}}
  {{ range .Site.Home.AllTranslations -}}
    {{ if not (eq $lang .Lang) -}}
  <a href="{{ .Permalink }}" hreflang="{{ .Lang }}" class="home-links-item" rel="alternate">
      {{- default .Lang .Site.Language.LanguageName -}}
  </a>
    {{ end -}}
  {{ end -}}
</div>
{{ end -}}
{{ end }}
