//* Classes for customizing figure captions with charts
// Formatting the list if it's a caption
.caption-list {
    margin: 0;
    padding: 0;

    list-style: none;
    text-align: left;

    li {
        margin: 0 0 0.25em;
        padding: 0;
    }
}

// Shapes for caption
.shape-circle {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;

    border-radius: 50%;

    vertical-align: middle;
}

.shape-line {
    display: inline-block;
    width: 1.25em;
    height: 2px;

    vertical-align: middle;
}

// Colors for the caption's shapes
@each $color, $value in $chart-colors {
    .shape-#{$color} {
        background: $value;
    }
}
