.graph {
    .x-labels {
        text-anchor: middle;
    }

    .y-labels {
        text-anchor: end;
    }

    .labels {
        font-size: 0.75em;
    }
}

.label-title {
    font-weight: bold;
}
