{{- $allSeries := .GetTerms "series" }}
{{- $length := len $allSeries }}
{{- if eq $length 1 }}
<div class="side-block">
  {{- $series := index $allSeries 0 }}
  <div class="center">{{ i18n "page.info.series" }}</div>
  <header>
    <a href="{{ $series.RelPermalink }}">{{ $series.Title }}</a>
  </header>
  <ol>
  {{- range sort $series.Pages "Date" "asc" }}
    {{ if eq $ .}}
      <li><strong>{{ .LinkTitle }}</strong></li>
    {{ else }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  {{- end }}
  </ol>
</div>
{{- else if gt $length 1 }}
  {{- errorf "More than one series is specified for post %s" .Path }}
{{- end }}
