{{ if .Truncated -}}
<p>{{ replaceRE "^<p>|</p>$" "" .Summary | safeHTML }}</p>
<a href="{{ .RelPermalink }}" class="link-go">{{ i18n "miniature.link.more" }}</a>
{{ else -}}
  {{ .Content -}}
<a href="{{ .RelPermalink }}" class="link-go">{{ i18n "miniature.link.read" }}</a>
{{ end -}}
