{{ $license := split .license " " -}}
{{ $licenseFamily := lower (index $license 0) -}}
{{- if eq "cc" $licenseFamily -}}
  {{ $terms := lower (index $license 1) }}
  {{ $valid := slice "by" "by-sa" "by-nd" "by-nc" "by-nc-sa" "by-nc-nd" }}
  {{ if in $valid $terms -}}
    {{ $version := index $license 2 -}}
    {{ $licenseUrl := printf "https://creativecommons.org/licenses/%s/%s/deed.%s" $terms $version .Lang -}}
<a href="{{ $licenseUrl }}" title="{{ .license }}" rel="license">
    {{- partial "utils/icon.html" (dict "icon" "cc" "title" "CC") -}}
    {{ range (split $terms "-") -}}
      {{ partial "utils/icon.html" (dict "icon" (printf "cc-%s" .) "title" (upper .)) -}}
    {{ end -}}
</a>
  {{ else -}}
    {{ errorf "Invalid CC license <%q>" .license }}
  {{ end -}}
{{- else if eq "asf" $licenseFamily -}}
  {{- $version := index $license 1 }}
<a href="https://www.apache.org/licenses/LICENSE-{{ .version }}" title="{{ .license }}" rel="license">
  {{- partial "utils/icon.html" (dict "icon" "feather" "title" .license) -}}
</a>
{{- else if eq "unsplash" $licenseFamily -}}
<a href="https://unsplash.com/license" title="{{ .license }}" rel="license">
  {{- partial "utils/icon.html" (dict "icon" "unsplash" "title" "Unsplash") -}}
</a>
{{- else if eq "copyright" $licenseFamily -}}
<span title="{{ delimit (last (sub (len $license) 1) $license) " " }}">&copy;</span>
{{- else -}}
  {{ errorf "Not a known license: <%q> (icons)" .license }}
{{- end -}}
