.cover {
    // Place cover image absolutely
    position: relative;

    // Size this div with an 1/2 aspect ratio
    width: 100%;
    padding-top: 50%;

    .cover-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        // Size image as a background cover
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
