.tip-incentive {
    margin: 1.5em 0;

    color: $contrast-text-color;
    text-align: center;

    a {
        color: $contrast-text-color;
    }
}

.tip-cta {
    display: block;

    font-size: larger;
    font-weight: bold;

    a {
        @include decorated-link;
    }
}
