<section id="staticman-comments">

  {{- $slug := partial "comments/slug.html" . -}}

  {{ with (index $.Site.Data.comments .Lang) -}}
    {{ $comments := index . $slug -}}
    {{ if $comments -}}
  <h2 class="center">{{ i18n "page.stats.comments" (len $comments) }}</h2>

      {{ range $comments -}}
        {{ if not .replyThread -}}
          {{ $.Scratch.Set "threadID" ._id -}}
          {{ $.Scratch.Set "previousID" ._id -}}
          {{ $.Scratch.Set "hasReplies" false -}}
  <article id="{{ ._id }}" class="content-text comment">
          {{ partial "template/comment.html" (dict "comment" . "Site" $.Site) -}}
          {{ range $comments -}}
            {{ if eq .replyThread ($.Scratch.Get "threadID") -}}
              {{ $.Scratch.Set "hasReplies" true -}}
    <a class="link-go reply-btn" href="#comment-form" data-comment="{{ $.Scratch.Get "previousID" }}" data-thread="{{ .replyThread }}">{{ i18n "comments.link.reply.thread" }}</a>
  </article>
  <article id="{{ ._id }}" class="content-text comment reply">
              {{ partial "template/comment.html" (dict "comment" . "Site" $.Site) -}}
              {{ $.Scratch.Set "previousID" ._id -}}
            {{ end -}}
          {{ end -}}
    <a class="link-go reply-btn" href="#comment-form" data-comment="{{ $.Scratch.Get "previousID" }}" data-thread="{{ $.Scratch.Get "threadID" }}">
          {{- if ($.Scratch.Get "hasReplies") }}{{ i18n "comments.link.reply.thread" }}{{ else }}{{ i18n "comments.link.reply.comment" }}{{ end -}}
    </a>
  </article>
        {{ end -}}
      {{ end -}}
  <h3 class="center">{{ i18n "comments.form.title" }}</h3>
    {{ else -}}
  <h2 class="center">{{ i18n "comments.form.none" }}</h2>
    {{ end -}}
  {{ else -}}
  <h2 class="center">{{ i18n "comments.form.none" }}</h2>
  {{ end -}}

  <form id="comment-form" class="form-comment" method="post" action="{{ .Site.Params.staticman.uri.comment }}">
    <h4 class="comment-replying-title">{{ i18n "comments.form.replying" }} <span id="replying-to"></span></h4>

    <div class="tip-success">{{ i18n "comments.form.submission.success" }}</div>
    <div class="tip-error">{{ i18n "comments.form.submission.failure" }}</div>
    <div class="tip-spam">{{ i18n "comments.form.submission.spam" }}</div>

    <input type="hidden" name="options[slug]" value="{{ $slug }}">
    <input type="hidden" name="options[parent]" value="{{ $slug }}">
    <input type="hidden" name="options[parentName]" value="{{ .Scratch.Get "title" }}">
    <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
    <input type="hidden" name="options[lang]" value="{{ .Lang }}">
    <input type="hidden" name="options[subscribeConfirmUrl]" value="{{ .Site.Params.staticman.uri.confirm }}">

    <input type="hidden" name="fields[replyThread]" value="">

    <div class="field">
      <label for="comment-ipt">
        {{ i18n "comments.form.comment" }}
        <span class="help-text">{{ i18n "forms.help.markdown" . | .RenderString }}</span>
      </label>
      <textarea id="comment-ipt" name="fields[comment]" class="in-text" rows="4"></textarea>
    </div>

    <div class="field">
      <label for="name-ipt">{{ i18n "comments.form.author.name" }}</label>
      <input id="name-ipt" name="fields[name]" type="text" class="in-text">
    </div>

    <div class="field">
      <label for="email-ipt">
        {{ i18n "comments.form.author.email" }}
        <span class="help-text">{{ i18n "forms.not.displayed" }}</span>
      </label>
      <input type="email" id="email-ipt" name="fields[email]" class="in-text">
    </div>

    <div class="field">
      <input type="checkbox" id="notifications-ipt" name="options[subscribe]" value="email">
      <label for="notifications-ipt">{{ i18n "comments.form.notifications.email" }}</label>
    </div>

    <div class="field">
      <label for="website-ipt">{{ i18n "comments.form.author.website" }} <span class="optional-label">{{ i18n "forms.help.optional" }}</span></label>
      <input type="url" id="website-ipt" name="fields[website]" class="in-text">
    </div>

    <div class="field help-text">{{ i18n "forms.help.gdpr" (partial "utils/page-link" (.Site.GetPage "about/privacy-policy")) | safeHTML }}</div>

    <div class="tip-loading">{{ i18n "comments.form.submission.inprogress" }}</div>

    <div class="action-bar">
      <input type="submit" class="btn btn-primary" value="{{ i18n "comments.form.submit" }}">
      <input type="reset" class="btn" value="{{ i18n "forms.action.reset" }}">
    </div>
  </form>
</section>
