{{ if or (gt .WordCount 400) (eq .Params.tipping true) -}}
  <div class="tip-incentive">
  {{- $authors := .Scratch.Get "authors" -}}
  {{- $tippableAuthors := where (default (slice) $authors) "tipLink" "!=" nil -}}
  {{ if eq (len $tippableAuthors) 0 -}}
    <a href="{{ .Site.Params.tipLink }}" class="tip-cta">
      {{- printf "tip.incentive.context.%s" .Section | i18n -}}
      {{ i18n "tip.incentive.cta.anon" 1 }}
    </a>
  {{ else if eq (len $tippableAuthors) 1 -}}
    {{- $author := index $tippableAuthors 0 -}}
    <a href="{{ $author.tipLink }}" class="tip-cta">
      {{ printf "tip.incentive.context.%s" .Section | i18n  }}
      {{ i18n "tip.incentive.cta.anon" (len $authors) }}
    </a>
  {{ else -}}
    <span class="tip-cta">
      {{- $authors := delimit (apply (first (sub (len $tippableAuthors) 1) $tippableAuthors) "partial" "author/display-tip-link.html" ".") ", " -}}
      {{- $lastAuthor := delimit (apply (last 1  $tippableAuthors) "partial" "author/display-tip-link.html" ".") ", " -}}
      {{ printf "tip.incentive.context.%s" .Section | i18n  }}
      {{ i18n "tip.incentive.cta.nomin" (dict
        "authors" $authors
        "lastAuthor" $lastAuthor
      ) | safeHTML }}
    </span>
  {{ end -}}
    <a href="{{ relref . "/about/about-kp" }}#support">{{ i18n "tip.incentive.alternative" }}</a>
  </div>
{{ end -}}
