{{ with .Params.references -}}
{{ with where . "hide" "!=" true -}}
<section class="references" role="complementary" id="references">
  <h3>{{ i18n "page.ref.title" (len .) }}</h3>
  <ol>
    {{- range . }}{{ if not .hide }}
    <li><p>
      <a href="{{ .url }}" id="ref:{{ .id }}"{{ if .title }} class="ref-title"{{ end }}{{ with .lang }} hreflang="{{ . }}"{{ end }}>
        {{- .name | $.RenderString -}}
      </a>
      {{- with .lang }}
        {{- if ne . $.Page.Lang }} ({{ upper . }}){{ end }}
      {{- end }}
      {{- with .author }}, {{ i18n "page.ref.author" }}
      {{ if .url }}
        <a href="{{ .url }}" rel="nofollow">{{ .name | $.RenderString }}</a>
      {{ else }}
        {{ .name | $.RenderString }}
      {{- end }}{{ end }}
      {{- with .date }}, {{ . }}{{ end }}
    </p></li>
    {{- end }}{{ end }}
  </ol>
</section>
{{- end }}
{{- end }}
